<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="canonical" href="<% id %>">
    <link rel="amphtml" href="<% id %>.amp">
    <title>EA - Simplified - The Scenic</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="./styles.css" type="text/css">
    <link rel="icon" type="image/png" href="./icons/icon-2x.png">
    <meta name="theme-color" content="#37dc8c">
    <link rel="apple-touch-icon" href="./icons/icon-2x.png">
    <meta name="msapplication-TileImage" content="./icons/icon-2x.png">
    <meta name="msapplication-TileColor" content="#37dc8c">
    <meta name="google-signin-client_id" content="520465458218-e9vp957krfk2r0i4ejeh6aklqm7c25p4.apps.googleusercontent.com">

    <style>
      .paywalled-section {
        display: none;
      }
      .paywalled-disclaimer {
        display: block;
      }
      .open-paywall .paywalled-section {
        display: block;
      }
      .open-paywall .paywalled-disclaimer {
        display: none;
      }
      #creating_account_toast {
        position: fixed;
        z-index: 1111;
        top: 20px;
        left: 10px;
        right: 10px;
        background: lightyellow;
        padding: 16px;
      }
      .comments {
        font-size: 8px;
        margin: 16px;
      }
    </style>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "<% article.title %>",
      "image": "https://scenic-2017.appspot.com/examples/sample-pub/icons/icon-2x.png",
      "datePublished": "2025-02-05T08:00:00+08:00",
      "dateModified": "2025-02-05T09:20:00+08:00",
      "author": {
        "@type": "Person",
        "name": "John Doe"
      },
      "publisher": {
         "name": "The Scenic",
         "@type": "Organization",
         "@id": "scenic-2017.appspot.com",
         "logo": {
            "@type": "ImageObject",
            "url": "https://scenic-2017.appspot.com/examples/sample-pub/icons/icon-2x.png"
         }
      },
      "description": "A most wonderful article",
      "isAccessibleForFree": "false",
      "isPartOf": {
        "@type": ["CreativeWork", "Product"],
        "name" : "Scenic News",
        "productID": "scenic-2017.appspot.com:news"
      }
    }
    </script>
    <!-- UPDATE product ID -->

    <script src="<% swgGaaJsUrl %>"></script>
    <script async subscriptions-control="manual" src="<% swgJsUrl %>"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="/examples/sample-pub/metering.js"></script>
    <!-- script async src="/examples/sample-pub/publisher.js"></script -->
    <!-- script async src="/examples/sample-pub/demo.js"></script -->
  </head>
  <body>
    <script>
      // Provide a shortcut to metering params.
      const urlParams = new URLSearchParams(location.search);
      if (urlParams.has('metering')) {
        let newSearch = 'gaa_at=g&gaa_ts=99999999&gaa_n=n0nc3&gaa_sig=51g';        
        location.search = newSearch;
      }

      // Your Google API Client ID and can be found at:
      // https://support.google.com/news/publisher-center/answer/11601854#API_client_ID
      // A Client ID looks like the following example:
      const googleApiClientId = '520465458218-e9vp957krfk2r0i4ejeh6aklqm7c25p4.apps.googleusercontent.com'
      
      // Array with all allowed hosts that can refer users to your article pages.
      // This is used if you redirect users or refresh the page during the Handle registration
      // for new users or Handle login for existing users flows.
      const allowedReferrers = ["example.com","test.com","localhost"]

      // User's Showcase entitlement determined on your server
      // Optional - server side only
      const showcaseEntitlement = urlParams.get("showcaseEntitlement");

      // The userState object for the current user.
      function getUserState() {
        return {
          id: 'user1235',
          registrationTimestamp: 1602763054,
          subscriptionTimestamp: 1602763094,
          granted: true,
          grantReason: 'SUBSCRIBER'
        };
      };

      /**
       * Publisher-defined callbacks.
       * 
       * The simplest possible implementation of showPaywall, unlockArticle, openLoginPage 
       * and handleSwGEntitlement. A more sophisticated implementation could fetch more data, 
       * or set cookies and refresh the whole page.
       */

      // Callback that must ensure the publisher’s standard paywall is shown to the user.
      // This is used when Extended Access is not granted to the user or if the user
      // clicks “Subscribe” on the Extended Access prompt.
      function showPaywall() {
        console.log('Example: show paywall');
        document.documentElement.classList.remove('open-paywall');
      };

      // Callback that must unlock the current article which is called when Google is
      // granting Extended Access to the user.
      function unlockArticle() {
        console.log('Example: unlock article');
        document.documentElement.classList.add('open-paywall');
      };
      
      // Only relevant for publishers doing Subscribe with Google. 
      // Callback that will be triggered if the user is a Subscribe with Google subscriber.
      function handleSwGEntitlement() {
        console.log('Example: handle swg entitlement');
        unlockArticle();
      }

      /*
       * Publisher-defined promises.
       *
       * The simplest implementation of registerUserPromise, handleLoginPromise,
       * and publisherEntitlementPromise.
       */

      // Get userState by passing the gaaUser object to your registration endpoint server
      // Takes the registration JWT and returns an updated userState object for the newly registered user.
      registerUserPromise = new Promise ((resolve) => {
        // gaaUser - registration JWT that is returned by Sign In with Google
        // https://developers.google.com/identity/gsi/web/reference/js-reference?hl=en#credential
        const gaaUser = GaaMetering.getGaaUser();
        // Example body of the promise returning a userState object
        const userState = {
          id: 'user1235',
          registrationTimestamp: 1602763054,
          subscriptionTimestamp: 1602763094,
        };
        resolve(userState);
      }) 

      // Allows the user to login to an existing publisher account and must resolve
      // with an updated userState object for the newly logged-in user.
      handleLoginPromise = new Promise ((resolve) => {
        // Example body of the promise returning a userState object
        userState = {
          id: 'user1235',
          registrationTimestamp: 1602763054,
          subscriptionTimestamp: 1602763094,
          granted: false,
        };
        resolve(userState);
      });

      // Get userState by passing the gaaUser object to your registration endpoint server
      // Resolves with the current user’s entitlements from the publisher
      // Optional - required only if your userState object doesn't contain the publisherEntitlement already
      publisherEntitlementPromise = new Promise ((resolve) => {
        // Example body of the promise returning a publisherEntitlement object
        publisherEntitlement = {
          granted: true,
          grantReason: 'SUBSCRIBER',
        };
        resolve(publisherEntitlement);
      });
        
      (self.SWG = self.SWG || []).push(function (subscriptions) {
        MeteringDemo.setupControls();
        MeteringDemo.setupLanguage();

        /*
        GaaMetering.init({
          params: {
            googleSignInClientId: googleApiClientId,
            allowedReferrers: allowedReferrers,
            showcaseEntitlement: showcaseEntitlement, // Optional - server-side only
            userState: getUserState(),
            unlockArticle: unlockArticle,
            showPaywall: showPaywall,
            handleSwGEntitlement: handleSwGEntitlement, // Optional - only if SwG is implemented
            registerUserPromise: registerUserPromise,
            handleLoginPromise: handleLoginPromise,
            publisherEntitlementPromise: publisherEntitlementPromise, // Optional
          }
        });
        */
      });
      
    </script>

    <div class="main-body">
      <header>
        <a class="brand-header" href="/examples/sample-pub">
          <div class="brand-logo"></div>
          <div class="brand-name">The Scenic</div>
        </a>
        <div class="nav-header">
          <%#prev%>
            <a class="nav-button prev" href="<% prev %>?<% testParams %>"></a>
          <%/prev%>
          <%#next%>
            <a class="nav-button next" href="<% next %>?<% testParams %>"></a>
          <%/next%>
        </div>
      </header>

      <main role="main">
        <div class="hero-img-container">
          <img src="<% article.hero %>">
        </div>

        <div class="container">
          <h2 class="category" onclick="sessionStorage.clear();"><% article.category %></h2>
          <h1 class="heading"><% article.title %></h1>
          <p class="kicker"><% article.kicker %></p>
          <p class="byline">By <% article.author %> on <% article.date %></p>
          <div class="hr"></div>

          <p class="text">
            <a href="http://localhost:8000/examples/sample-pub/ea-simplified-api?gaa_at=g&gaa_ts=99999999&gaa_n=n0nc3&gaa_sig=51g">Jelly</a> jujubes marshmallow donut. Wafer cheesecake lollipop fruitcake danish powder. Pudding croissant biscuit icing. Gummi bears fruitcake cake wafer cake cookie caramels marshmallow bonbon.
          </p>

          <p class="text">
            Gingerbread biscuit gummies cupcake. Powder sugar plum chocolate cake chocolate cake cake. Marzipan brownie halvah. Marzipan soufflé bear claw gummi bears muffin.
          </p>
          <section class="paywalled-section">
            <p class="text">
              Muffin jelly-o wafer ice cream brownie dessert chocolate bar. Candy canes cotton candy apple pie cake. Chupa chups bonbon dragée bear claw dessert. Oat cake croissant sweet roll apple pie pie.
            </p>
            <p class="text">
              Cookie fruitcake toffee lemon drops. Gummies caramels topping wafer tootsie roll cake. Halvah pastry gingerbread liquorice. Dragée topping toffee chupa chups.
            </p>
            <p class="text">
              Halvah bear claw cake fruitcake chocolate topping. Cookie topping chocolate cake chocolate topping biscuit caramels lollipop danish. Jelly-o pastry topping candy. Cotton candy oat cake pastry lemon drops chocolate.
            </p>
            <p class="text">
              Pastry cupcake icing. Gummies lollipop sweet carrot cake tootsie roll. Brownie apple pie sweet roll soufflé.
            </p>
            <div class="hero-img-container">
              <img src="hero/2.jpeg">
            </div>

            <p class="text">
              Tart donut sweet pudding dragée sweet chocolate bar. Croissant tootsie roll cookie lollipop jelly topping apple pie. Danish bear claw sesame snaps toffee. Biscuit brownie brownie.
            </p>

            <p class="text">
              Lemon drops macaroon liquorice tart. Gummi bears dragée donut. Cheesecake chocolate bar candy canes candy tart cotton candy chocolate cake croissant cake. Oat cake cheesecake ice cream cotton candy marzipan pastry.
            </p>

            <p class="text">
              Dragée toffee cupcake pudding oat cake. Cupcake croissant cake jelly powder apple pie lemon drops cupcake bear claw. Tiramisu jelly sweet roll gummies pie muffin gummi bears oat cake.
            </p>

            <p class="text">
              Chupa chups danish fruitcake jelly pastry jelly beans marzipan. Jelly wafer candy sweet. Croissant gummies apple pie.
            </p>

            <div class="hr"></div>

            <h1 class="related">Related articles</h1>

            <ul class="related">
              <li>
                <a href="2?<% testParams %>">
                  <div>
                    <img width="100" height="80" src="hero/2.jpeg" style="width: 100px; height: 80px;" src="hero/2.jpeg">
                    <p>Melbourne in 48 Hours</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="3?<% testParams %>">
                  <div>
                    <img width="100" height="80" src="hero/3.jpeg" style="width: 100px; height: 80px;" src="hero/3.jpeg">
                    <p>Paris in 48 Hours</p>
                  </div>
                </a>
              </li>
              <li>
                <a href="4?<% testParams %>">
                  <div>
                    <img width="100" height="80" src="hero/4.jpeg" style="width: 100px; height: 80px;" src="hero/4.jpeg">
                    <p>Montreal in 48 Hours</p>
                  </div>
                </a>
              </li>
            </ul>
          </section>
          <section class="paywalled-disclaimer">
            <p class="text">
              <strong>Please go through subscribe flow to see more content.</strong>
            </p>
          </section>
        </div>
      </main>
    </div>
    <div class="comments">
      <a href="/examples/sample-pub/setup">
        <% setup.script %>
      </a>
    </div>
    <div id="creating_account_toast" style="display: none;">
      Scenic is creating account for <span id="creating_account_toast_user"></span>...
    </div>
    <div id="metering-controls">
      <button class="reset-metering-demo">Reset metering demo</button>
    </div>
  </body>
</html>
