<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign-in with Google - The Scenic</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/examples/sample-pub/styles.css" type="text/css">
    <link rel="icon" type="image/png" href="/examples/sample-pub/icons/icon-2x.png">
    <link rel="apple-touch-icon" href="/examples/sample-pub/icons/icon-2x.png">
    <meta name="msapplication-TileImage" content="/examples/sample-pub/icons/icon-2x.png">
    <meta name="msapplication-TileColor" content="#37dc8c">
    <style>
      .container {
        font-size: 16px;
        line-height: 1.4em;
      }
      h2 {
        margin-bottom: 16px;
      }
      label {
        display: block;
        margin-left: 16px;
      }
      .buttons {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <div class="main-body">
      <header>
        <a class="brand-header" href="/examples/sample-pub">
          <div class="brand-logo"></div>
          <div class="brand-name">The Scenic</div>
        </a>
      </header>
      <main role="main">
        <div class="container">
          <h2>Setup</h2>
          <form action="/examples/sample-pub/update-setup" method="post">
            <div>
              <h3>Script:</h3>
              <label>
                <input type="radio" name="script" value="local"
                    <%#script_local%> checked<%/script_local%>> Local
              </label>
              <label>
                <input type="radio" name="script" value="local_min"
                    <%#script_local_min%> checked<%/script_local_min%>> Local minified
              </label>
              <label>
                <input type="radio" name="script" value="prod"
                    <%#script_prod%> checked<%/script_prod%>> Prod
              </label>
              <label>
                <input type="radio" name="script" value="autopush"
                    <%#script_autopush%> checked<%/script_autopush%>> Autopush
              </label>
              <label>
                <input type="radio" name="script" value="qual"
                    <%#script_qual%> checked<%/script_qual%>> Qual
              </label>
            </div>
            <div class="buttons">
              <input type="submit" value="Update"></input>
            </div>
          </form>
        </div>
      </main>
    </div>
  </body>
</html>
