<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Subscribers - The Scenic</title>
    <link rel="canonical" href="index.html" >
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../styles.css" type="text/css">
    <link rel="icon" type="image/png" href="./icons/icon-2x.png">
    <link rel="apple-touch-icon" href="./icons/icon-2x.png">
    <meta name="msapplication-TileImage" content="./icons/icon-2x.png">
    <meta name="msapplication-TileColor" content="#37dc8c">
    <style>
      .container {
        font-size: 16px;
        line-height: 1.4em;
      }
      h2 {
        margin-bottom: 16px;
      }
      h3 {
        margin: 10px 0px;
      }
      .user {
        padding: 4px 0px 14px 20px;
      }
      .user:nth-child(even) {
        background-color: #EEE;
      }
    </style>
  </head>
  <body>
    <div class="main-body">
      <header>
        <a class="brand-header" href="/examples/sample-pub">
          <div class="brand-logo"></div>
          <div class="brand-name">The Scenic</div>
        </a>
      </header>
      <main role="main">
        <div class="container">
          <h2>List of Subscribers</h2>
          <div class="users">
            <%#users%>
              <div class="user">
                <h3 class="user-id"><% index %>. <% id %></h3>
                <div class="user-subscribed">
                  <em>Subscribed</em>: <% entitled %>
                </div>
                <%#metering%>
                  <div class="user-metering">
                    <em>Quota Left</em>: <% quotaLeft %>
                  </div>
                <%/metering%>
              </div>
            <%/users%>
          </div>
          <a href="/examples/sample-pub/pub-signin?redirect_uri=/examples/sample-pub/1">
            Sign in
          </a>
        </div>
      </main>
    </div>
  </body>
</html>
