{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "loose": true,
          "browsers": [
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
